# Ignore everything
# https://youknowfordevs.com/2018/12/07/getting-control-of-your-dockerignore-files.html
*

# Only include specific files/directories
!worker/
!tests/

!pyproject.toml

!requirements.txt
