# Ignore specific directories
__pycache__/
node_modules/
local/

# Ignore fmpy-status indicators
status.
success.

# Ignore temporary files
.~*.*#  # LibreOffice Calc

# Ignore file for storing the developer's environment
.vscode/
*.code-workspace
.env
