# SPDX-FileCopyrightText: 2022 UdS AES <https://www.uni-saarland.de/lehrstuhl/frey.html>
#
# SPDX-License-Identifier: CC0-1.0

# Ignore specific directories
__pycache__/
node_modules/
local/

# Ignore fmpy-status indicators
status.
success.

# Ignore temporary files
.~*.*#  # LibreOffice Calc

# Ignore file for storing the developer's environment
.vscode/
*.code-workspace
.env

# Ignore requirements.txt
requirements.txt
