[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
loguru = "*"
numpy = "*"
pandas = "*"
pendulum = "*"
celery = "*"
pydash = "*"
scipy = "*"
redis = "*"
requests = "*"
cachetools = "*"
jinja2 = "*"
rdflib = "*"
nanoid = "*"
invoke = "*"
fmpy = "*"

[requires]
python_version = "3.10"

[dev-packages]
pytest = "*"
isort = "*"
black = "*"
pyqt5 = "*"
pyqtgraph = "*"
