[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
loguru = "*"
numpy = "*"
pathlib = "*"
pandas = "*"
pendulum = "*"
celery = "*"
pydash = "*"
scipy = "*"
redis = "*"
requests = "*"
cachetools = "*"
jinja2 = "*"
fmpy = {editable = true,git = "https://github.com/UdSAES/FMPy.git",ref = "hotfix/issue89-v0.2.27"}

[requires]
python_version = "3.8"

[dev-packages]
pytest = "*"
isort = "*"
black = "*"

[pipenv]
allow_prereleases = true
